<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This app was created by Abdallah Azzam. It uses data from positionstack.com and weatherstack.com!</p>
            <img class="portrait" src="/img/portrait.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>