<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>If you get weather information from a different location other than the one you had in mind, make sure you provide enough details in the search bar.</p>
        </div>

        {{>footer}}
    </body>
</html>